@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.post{
    max-width: 750px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 5px;
    margin: 1rem;
    border-radius: 15px;
    border: 2px 1px solid black;
}

.post .text{
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.post img{
    max-width: 750px !important;
    border-radius: 10px 10px 0 0;

}

.post .likes{
    display: flex;
    max-width: auto;
    flex-direction: row wrap;
    gap: 1rem;
}
.post .likeCount{
    justify-content: flex-start;
}
.post .likeDislike{
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    gap: 1rem;
}